@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(228, 255, 254);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin: 1rem 0;
    font-size: 10vw;
    color: rgb(39, 73, 92);
    font-weight: 400;
    font-family: "Amatic SC";
    line-height: 1;
}

.main {
    font-family: "Finger Paint";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.container {
    width: 70vmin;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border: 1.5px solid rgb(48, 142, 192);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(74, 131, 196);
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(37, 138, 192);
}

.box:hover {
    background-color: rgb(234, 235, 178);
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(1, 42, 88);
    font-weight: 400;
}

.input1 {
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    color: rgb(1, 42, 88);
    font-weight: 400;
}

.btn {
    font-family: "Amatic SC";
    width: 22vw;
    min-width: 90px;
    max-width: 140px;
    height: 50px;
    min-height: 28px;
    cursor: pointer;
    color: rgb(1, 42, 88);
    font-weight: 800;
    font-size: 30px;
    background-color: rgb(187, 243, 243);
}

.btn:hover,
.reset:hover,
.new:hover {
    background-color: rgb(126, 218, 218);
}

.reset,
.new {
    font-family: "Amatic SC";
    font-size: 30px;
    width: 22vw;
    min-width: 90px;
    max-width: 140px;
    height: 50px;
    min-height: 28px;
    cursor: pointer;
    color: #000000;
    border: 1px solid rgb(51, 157, 206);
    font-weight: 800;
    background-color: rgb(187, 243, 243);
}

.status {
    font-family: "Amatic SC";
    display: flex;
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: rgb(1, 42, 88);
}

@media (max-width: 800px) {
    body {
        padding: 8px;
        box-sizing: border-box;
    }
    .header { 
        font-size: 18vw;
        margin: 0.2rem 0;
        line-height: 1;
    }
    .main { 
        gap: 25px; 
    }
    .container { 
        width: 92vmin;
        max-width: none; 
    }
    .box { 
        font-size: 14vw;
        border-width: 2px;
    }
    .input { 
        gap: 30px;
        width: 95%;
    }
    .input1 { 
        padding: 18px;
        font-size: 8vw;
        max-width: none;
    }
    .btn, .reset, .new { 
        width: 100%;
        max-width: 160px;
        height: 14vw;
        min-height: 45px;
        font-size: 8vw;
    }
    .status { 
        font-size: 10vw; 
    }
}

.hidden {
    display: none;
}